{% extends 'master.html' %}

{% block title %} Crear Matricula {% endblock %}
{% block content %}
    <h1 style="width: 100%">Agregar matricula</h1>
    <form method="post">
        <p>
            <label for="nombrePropietario">Nombre Propietario</label>
            <input type="text" name="nombrePropietario"
                   placeholder="Ingrese nombre Propietario" required>
            </input>
        </p>

        <p>
            <label for="placa">Placa vehiculo</label>
            <input type="text" name="placa"
                   placeholder="Ingrese placa" required>
            </input>
        </p>

        <p>
            <label for="anio">Año Matricula</label>
            <input type="text" name="anio"
                   placeholder="Ingrese año de Maticula" required>
            </input>
        </p>
        <p>
            <label for="costo">Costo Matricula</label>
            <input type="text" name="costo"
                   placeholder="Ingrese Costo" required>
            </input>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}
